

#filmsList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}
.altezza{
    height: 600px;
}

@media only screen and (max-width: 600px) {
    .altezza {
      height: auto;
    }
  }
